{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        ring/ring-jetty-adapter {:mvn/version "1.9.4"}
        ring/ring-core {:mvn/version "1.9.4"}
        metosin/reitit {:mvn/version "0.5.15"}
        meta-merge/meta-merge {:mvn/version  "1.0.0"}
        integrant/integrant {:mvn/version "0.8.0"}

        org.clojure/tools.logging {:mvn/version "1.2.2"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.17.0"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.17.0"}
        ; Redirect all SLF4J logs over the log4j2 backend
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.17.0"}
        selmer/selmer {:mvn/version "1.12.45"}
        org.clojure/data.json {:mvn/version "2.4.0"}

        ; org.apache.jena/jena-arq {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-core {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-tdb {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-iri {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-querybuilder {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-fuseki-geosparql {:mvn/version "4.2.0"}
        ; org.apache.jena/jena-geosparql {:mvn/version "4.2.0"}

        grafter.db/grafter.db {:mvn/version "0.8.8"}
        grafter/vocabularies {:mvn/version "0.3.8"}
        grafter/matcha.alpha {:mvn/version "0.1.13"}

        clojure.java-time/clojure.java-time {:mvn/version "0.3.3"}
        factual/geo {:mvn/version "3.0.1"}}

 :mvn/repos {"swirrl-jars-releases" {:url "s3://swirrl-jars/releases/"}
             "swirrl-jars-snapshots" {:url "s3://swirrl-jars/snapshots/"}}

 :aliases
 {:dev {:extra-paths ["env/dev/src" "env/dev/resources"
                      "env/test/resources" "test"]
        :extra-deps {integrant/repl {:mvn/version "0.3.2"}
                     vvvvalvalval/scope-capture {:mvn/version "0.3.2"}
                     }}}}

